<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh">
  <div class="container card shadow" style="background: antiquewhite; width: 40%">
    <h1 class="d-flex justify-content-center fw-bold mt-5" style="color: firebrick">404</h1>
    <h1 class="d-flex justify-content-center fw-bold mt-3" style="color: firebrick">Page not found</h1>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <a routerLink="/task-list" class="btn btn-dark">Back</a>
    </div>
    <div class="mt-5">
    </div>
  </div>
</div>
